.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #010000;
  width:30%;
  height:200px;
  margin: auto;
  margin-top: 30px;
}
.content{
  font-size: 18px;
  font-family: "Roboto";
  margin-bottom: 5px;
}
.upload-input{
  font-size: 14px;
  margin-left: 80px;
  margin-top: 5px;
}
.primary-button {
  padding: 1px;
  width: 80px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  background-color: #FF6B35;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
}
.error-msg{
  margin-top: 5px;
  font-size: 15px;
}